<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyh.system.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="User">
		<id column="no" jdbcType="INTEGER" property="no" />
		<result column="userid" jdbcType="VARCHAR" property="userid" />
		<result column="username" jdbcType="VARCHAR"
			property="username" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
	</resultMap>

	<sql id="Base_Column_List">
		no, userid, username, password, phone
	</sql>

	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user
		where no = #{no,jdbcType=INTEGER}
	</select>

	<select id="checkExistenceByUserId" parameterType="User"
		resultType="java.lang.Integer">
		select count(userid) from t_user
		where userid =
		#{userid,jdbcType=VARCHAR}
	</select>

	<select id="selectByUserIdAndPassword" parameterType="User"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user
		where userid = #{userid,jdbcType=VARCHAR} and password =
		#{password}
	</select>

	<select id="getUsernumber" resultType="java.lang.Integer">
		select count(*) from
		t_user
	</select>

	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from t_user
		where no = #{no,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="User">
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				userid,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="phone != null">
				phone,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="User">
		update t_user
		<set>
			<trim suffixOverrides=",">
				<if test="username != null">
					username = #{username,jdbcType=VARCHAR},
				</if>
				<if test="password != null">
					password = #{password,jdbcType=VARCHAR},
				</if>
				<if test="phone != null">
					phone = #{phone,jdbcType=VARCHAR},
				</if>
			</trim>
		</set>
		where no = #{no,jdbcType=INTEGER}
	</update>

	<select id="selectAllUser" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user
	</select>
</mapper>